############################
# Exceptions
############################
.env
.vscode

Thumbs.db
Desktop.ini
$RECYCLE.BIN/

node_modules
.node_history
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

############################
# Frontend
############################
frontend/.DS_Store
frontend/node_modules
frontend/dist
frontend/.env.local
frontend/.env.*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

############################
# Backend
############################
backend/.bundle
backend/db/*.sqlite3
backend/db/*.sqlite3-journal
backend/log/*
backend/tmp/*
!backend/log/.keep
!backend/tmp/.keep
backend/.byebug_history
backend/public/system
/backend/log
/backend/tmp
