@function md-get-palette-color($color, $hue) {
  @return map-get(map-get($md-palette, $color), $hue);
}

@function md-theme($type, $background: "") {
  $color-theme: null;

  @if $type == "primary" or $type == "accent" {
    @return md-get-color-by-type($type, null);
  } @else {
    $color-theme: map-get($md-theme-palette, theme);

    @if $background != "" {
      $color-theme: md-pick-contrast(md-get-color-by-type($background, $color-theme));
    }

    @return md-get-color-by-theme($color-theme, $type);
  }
}

@function md-get-color-by-theme($color-theme, $type) {
  $theme: map-get($md-color-levels, $color-theme);

  @return map-get($theme, $type);
}

@function md-get-color-by-type($type, $theme) {
  $newColor: map-get($md-theme-palette, $type);

  @if $newColor == null {
    $newColor: md-get-color-by-theme($theme, $type);
  }

  @return $newColor
}
